html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  overflow-x: hidden;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'paris';
  src: url("../fonts/parisr.eot");
  font-weight: bold;
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("../fonts/parisr.woff") format("woff"), url("../fonts/parisr.ttf") format("truetype"), url("../fonts/parisr.svg") format("svg");
}

@font-face {
  font-family: 'popp';
  src: url("../fonts/poppin.ttf") format("truetype");
}

/*FOOTER*/
.footerFeatures {
  position: relative;
  width: 100%;
  height: 8vh;
  background-color: gray;
  line-height: 60px;
  font-family: 'poppins';
}

.footerFeatures img {
  text-align: center;
  cursor: pointer;
}

.footerFeatures ul {
  list-style-type: none;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 1px solid white;
  vertical-align: middle;
}

.footerFeatures li {
  display: inline;
}

/* LOGIN CONTAINER NESTED */
.login-container {
  top: 0;
  right: 0;
  margin: 10px 0px 0px 0px;
  margin-top: 55px;
  position: absolute;
  opacity: .6;
  width: 320px;
}

.cont {
  padding: 0px;
}

/*LOGIN CONTACT & ACCESIBILITY BUTTONS*/
/* BUTTON LOGIN NESTED */
button {
  float: right;
  width: 50px;
  height: 48px;
  font-size: 10px;
  text-align: center;
  letter-spacing: .30em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'popp';
  color: #FFFFFF;
  background-color: Transparent;
  margin-right: 6px;
}

button:nth-last-child(1) {
  color: #FFFFFF;
  width: 110px;
}

button:nth-first-child {
  background-color: red;
}

/*HAMBURGUER MENU SECTION */
.hamburger_toggle_menu {
  position: absolute;
  top: 57px;
  left: 5%;
  padding: 4px;
  cursor: pointer;
  opacity: .5;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
}

.lines1, .lines2, .lines3 {
  width: 50px;
  height: 4px;
  background-color: #FFFFFF;
  margin: 3px;
  color: #FFFFFF;
  margin-left: 20px;
}

/* ROTATE LINES HAMBURGUER MENU*/
.change {
  color: black;
}

.change .lines1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-flex-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-flex-transform-flex-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .lines2 {
  opacity: 0;
}

.change .lines3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header {
  overflow-x: hidden;
}

header .videoSet video {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
}

/*NAVIGATION LINKS NESTED*/
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  opacity: .5;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 30px;
  letter-spacing: .35em;
  font-family: 'popp';
  display: none;
  z-index: 1;
}

.nav-links li {
  margin-top: 80px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links li a {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  cursor: pointer;
}

.overlay {
  background: #236841;
  height: 100vh;
  opacity: .3;
  z-index: -1;
  position: relative;
}

/*------SECTION-------- */
.container-sections .tex-section {
  height: 100vh;
  overflow-y: hidden;
}

.container-sections .image-container {
  height: 20vh;
}

.container-sections img {
  height: 120px;
  width: 120px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.container-sections .text-container {
  height: 100vh;
  overflow-y: hidden;
}

.container-sections p {
  margin: 20px 15px 15px 15px;
  font-size: 27px;
  text-align: center;
  overflow-y: hidden;
  opacity: 0.7;
}

.container-sections h1 {
  font-size: 45px;
  text-align: center;
  padding: 10px;
}

.container-sections h2 {
  font-size: 30px;
  font-weight: 900;
  margin-left: 20px;
  text-align: center;
  color: #236841;
}

.container-sections p::first-letter {
  font-size: 25px;
  line-height: -40px;
  color: #236841;
  font-weight: 900;
  font-family: arial;
}

.container-sections section:nth-last-child(1) p {
  color: black;
  margin-top: -90px;
  position: absolute;
}

.container-sections section:nth-last-child(1) h2 {
  color: #236841;
  position: absolute;
  margin-top: -130px;
  margin-left: 100px;
}

.container-sections ul {
  color: black;
  font-family: 'popp';
  margin: 25px 10px 0px 30px;
  line-height: 20px;
  font-weight: bolder;
  margin-top: 20px;
}

.container-sections .spaceLine {
  width: 90%;
  border-bottom: 1px solid grey;
  opacity: 0.5;
  margin: 15px;
}

@media (max-device-width: 414px) {
  .hamburger_toggle_menu {
    top: 48px;
    left: -10px;
    padding: 15px;
  }
  .lines1, .lines2, .lines3 {
    width: 70px;
    height: 6px;
  }
}

/* ----------MEDIA QUERIES FOR PHONE UNDER 414 PIXELS*/
@media (max-device-width: 375px) {
  .hamburger_toggle_menu {
    top: 44px;
    padding: 15px;
  }
  .hamburger_toggle_menu .lines1, .hamburger_toggle_menu .lines2, .hamburger_toggle_menu .lines3 {
    width: 50px;
    height: 5px;
    margin-top: 6px;
  }
}

/* -------------MEDIA QUERIES FOR IPAD------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hamburger_toggle_menu {
    position: absolute;
    top: 100px;
    left: 10%;
    padding: 15px;
    opacity: .7;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
  }
  .lines1, .lines2, .lines3 {
    width: 100px;
    height: 10px;
    background-color: #FFFFFF;
    margin: 4px;
    color: #FFFFFF;
    margin-left: 10px;
  }
  .nav-links {
    margin-top: 160px;
    font-size: 50px;
    letter-spacing: .25em;
    font-family: 'popp';
    display: none;
  }
  .login-container {
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    width: 500px;
    position: absolute;
  }
  button {
    width: 154px;
    height: 78px;
    font-size: 20px;
  }
  button:nth-last-child(1) {
    color: #FFFFFF;
    width: 210px;
  }
  .container-sections .tex-section p {
    font-size: 36px;
    text-align: center;
    margin: 20px 0px 22px 0px;
  }
  .container-sections .tex-section p::first-letter {
    font-size: 45px;
    line-height: 40px;
  }
  .container-sections .tex-section ul {
    margin-top: px;
    margin-left: 50px;
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5;
  }
  .container-sections .tex-section .fa {
    font-size: 160px;
  }
  .footerFeatures {
    height: 8vh;
  }
  .footerFeatures li {
    color: black;
  }
  .footerFeatures a {
    font-family: 'poppins';
  }
}

/* MEDIA QUERIES FOR PHONE UNDER 320 PIXELS iphone SE*/
/*# sourceMappingURL=style.css.map */