@import ../reset-sheet/_reset
@import ../font-face/_fontFace
@import ../footer/_footerMobile
@import ../login/_loginFeatures
@import ../hamburguerMenu/_hamburguerFeatures

header
  overflow-x: hidden
  .nav
  .videoSet video  

    height: 100vh
    object-fit: cover
    position: absolute
    width: 100vw
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: -2

/*NAVIGATION LINKS NESTED*/
.nav-links 
  display: flex
  margin-top: 90px
  flex-direction: column
  position: fixed
  //background: #8B8B8B
  opacity: .5
  width: 100%
  height: 100%
  position: absolute
  font-size: 30px
  letter-spacing: .35em
  font-family: 'popp'
  display: none
  z-index: 1

  li
    margin-top: 80px
    text-align: center
    justify-content: center
    a
      color:  $white-color
      text-decoration: none
      list-style: none
      color: $white-color
      cursor: pointer

// SECONDARY NAVIGATION BAR 
.secondary_navigation

    

// /* GREEN LAYER SETED OVER THE VIDEO*/
.overlay
  background: $mainColor
  height: 100vh
  opacity: .3
  z-index: -1
  position: relative



/*------SECTION-------- */

.container-sections
  
 

  .tex-section
    height: 100vh
    overflow-y: hidden
    
  .image-container
    height: 20vh
   
    
  img 
    height: 120px
    width: 120px
    display: block
    margin: 0 auto
    padding: 20px 0px 10px 0px
    overflow-y: hidden
    
 

  .text-container 
    height: 100vh
    overflow-y: hidden

  p 
    margin: 20px 15px 15px 15px
    font-size: 27px
    text-align: center
    overflow-y: hidden
    opacity: 0.7
   

  h1 
    font-size: 45px
    text-align: center
    padding: 10px
    //   color: black
    //    background-color: white

  h2 
    font-size: 30px
    font-weight: 900
    margin-left: 20px
    text-align: center
    color: #236841
      
  

  p::first-letter
    font-size: 25px;
    line-height: -40px;
    color: #236841
    font-weight: 900
    font-family: arial
  section:nth-last-child(1)
    p 
      color: black
      margin-top: -90px
      position: absolute
    h2 
      color: #236841
      position: absolute
      margin-top: -130px
      margin-left: 100px
  
    
    
  ul 
    color: black
    font-family: 'popp'
    margin: 25px 10px 0px 30px
    line-height: 20px
    font-weight: bolder
    margin-top: 20px
     
    
  .spaceLine
    width: 90%
    border-bottom: 1px solid grey
    opacity: 0.5
    margin: 15px
    
   
@media (max-device-width: 414px)
  .hamburger_toggle_menu
    top: 48px
    left: -10px
    padding: 15px
  
  .lines1, .lines2,.lines3
    width: 70px
    height: 6px
    
// @media only screen and(min-device-width:  414px) and (max-device-height:  667px)
    
 
     

/* ----------MEDIA QUERIES FOR PHONE UNDER 414 PIXELS*/

   


@media (max-device-width: 375px)
  .hamburger_toggle_menu
    top: 44px
   
    padding: 15px
    .lines1, .lines2,.lines3
      width: 50px
      height: 5px  
      margin-top: 6px 
  

/* -------------MEDIA QUERIES FOR IPAD------------*/
@media only screen and(min-device-width:  768px) and (max-device-width: 1024px)
  .hamburger_toggle_menu
    position: absolute
    top: 100px
    left: 10%
    padding: 15px
    opacity: .7
    z-index: 1
    display: inline-block
    cursor: pointer

  .lines1, .lines2,.lines3
    width: 100px
    height: 10px
    background-color: $white-color
    margin: 4px
    color: $white-color
    margin-left: 10px

  .nav-links
    margin-top: 160px
    font-size: 50px
    letter-spacing: .25em
    font-family: 'popp'
    display: none
  .login-container
    top: 50px
    float:right
    display: flex
    margin-right: 0px
 
    width: 500px
    position: absolute

  button
    width: 154px
    height: 78px
    font-size: 20px

  button:nth-last-child(1)
    color: $white-color
    width: 210px
  
  .container-sections
    .tex-section
      p
        font-size: 36px;
        text-align: center
        margin: 20px 0px 22px 0px
      p::first-letter
        font-size: 45px;
        line-height: 40px;
      //  h2
      //   margin: 10px  0px -20px 30px
      //   font-size: 40px
      //   text-align: left
      //   color: black
      
      
      .text-container1 
      
        // height: 800px
        // padding: 25px  0px 0px 0px
     
        // img 
          // width: 90px
          // height: 190px
          // border-radius: 23px 13px 13px 13px
          // display: block
        // .fa 
        //   font-size: 280px
        //   margin-top: 20px
      

      // .text-container2 
      //   height: 800px
      //   padding: 15px  0px 0px 0px  
    

      // .text-container3
      //   height: 800px
      //   padding: 25px  0px 0px 0px

      // .text-container4 
      //   height: 82vh
      //   margin: 0px  20px  5px 30px
      //   padding: 13px
      //   p 
      //     padding-top: 29px
    

      // h2
      //   margin: 10px  0px -20px 30px
      //   font-size: 40px
      //   text-align: left
      //   color: black

      // .fa 
      //   font-size: 80px
      //   margin-top: 20px
      // .image-container
        
        // width: 100%
        // img 
        //   width: 290px
        //   height: 190px
        //   border-radius: 23px 13px 13px 13px
        //   display: block
      
      ul 
      
        margin-top: px
        margin-left: 50px
        font-size: 22px
        font-weight: 100
        line-height: 1.5
    
      .fa 
        font-size: 160px
        display:none
     
    
   
  .footerFeatures 
    height: 8vh
   
  
  
    // background-color: gray
   
    // img 
    
    

    ul
       
    
     
       

    li
 
     color: black
     
  
    

    a
      font-family: 'poppins'
      
   
     


/* MEDIA QUERIES FOR PHONE UNDER 320 PIXELS iphone SE*/
// 



// // @media screen 
// // and (min-device-width: 1200px) 
// // and (max-device-width: 1600px) 
// // and (-webkit-min-device-pixel-ratio: 1) {

      

   

   
   
     

  
    

