@import ../reset-sheet/_reset
@import ../font-face/_fontFace
@import ../footer/_footerMobile
@import ../login/_loginFeatures
@import ../hamburguerMenu/_hamburguerFeatures

$pale: #ffffff

header
  overflow-x: hidden
  .nav
  .videoSet video  

    height: 100vh
    object-fit: cover
    position: absolute
    width: 100vw
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: -2

/*NAVIGATION LINKS NESTED*/
.nav-links 
  display: flex
  margin-top: 90px
  flex-direction: column
  position: fixed
  //background: #8B8B8B
  opacity: .5
  width: 100%
  height: 100%
  position: absolute
  font-size: 30px
  letter-spacing: .35em
  font-family: 'popp'
  display: none
  
  z-index: 1



  li
    margin-top: 80px
    text-align: center
    justify-content: center
    a
      color:  $white-color
      text-decoration: none
      list-style: none
      color: $white-color
      cursor: pointer

// SECONDARY NAVIGATION BAR 
.secondary_navigation

    

// /* GREEN LAYER SETED OVER THE VIDEO*/
.overlay
  background: $mainColor
  height: 100vh
  opacity: .5
  z-index: -1
  position: relative



/*------SECTION-------- */

.container-sections
  opacity: 0.8
  
 
  .tex-section
    height: 100vh
    color: orange
    background-color: white
    margin: 5px
    overflow-y: hidden
    
    
    .text-container1 
      background: $mainColor
      height: 300px
      margin: 10px  20px  0px 20px
      border-radius: 5%
      

    .text-container2 
      background: $mainColor
      height: 450px
      margin: -35px  20px  5px 20px
      border-radius: 5%
     
    h2 
      margin: 0px  20px  5px 30px

      
    .text-container3 
      background: $mainColor
      height: 440px
      margin: -30px  20px  5px 30px
      border-radius: 5%
      overflow: hidden
      padding: 13px
      
      
    .text-container4  
      
      background: $mainColor
      height: 82vh
      margin: 30px  20px  5px 30px
      border-radius: 5%
      overflow: hidden
      padding: 13px
      
      // .fa 
      //   font-size: 50px
    
    
    .title-reference
      margin: 20px  0px -20px 30px
      font-size: 30px
      text-align: left
      
        

    
    .image-container
      background-color: $white-color
      opacity: .8
      width: 100%
      border: ipx solid $black-color
      overflow: hidden
    img 
      width: 140px
      height: 140px
      border-radius: 23px 13px 13px 13px
      display: block
      padding-top: 5px
      margin: 0 auto
      // opacity: .5 
      padding-bottom: 10px
    h1 
      font-size: 35px
      margin: 25px 0px 15px
      text-align: center
      line-height: 32px
      color: black
    h2 
      padding: 10px 0px 40px 0px
      // margin-bottom: 0px
      letter-spacing: 2px
      font-size: 30px
      //color: $white-color 
      //font-family: 'paris'
      
      
    p
      font-family: 'Poppins', sans-serif
      font-size: 16px
      padding: 15px 
      margin: 10px 0px -10px
      color: $white-color
      line-height: 20px
      text-align: center
      display: inline-block
    p::first-letter
      font-size: 25px;
      line-height: 30px;
      color: orange
      font-weight: 900
      
      
    ul 
      color: $white-color
      font-family: 'popp'
      margin-top: 20px
      margin-left: 30px
      line-height: 20px
      font-size: 15px
      font-weight: 100
      
    i 
      font-size: 90px
      display: block
      text-align: center
      margin-top: 20px
      
    
  .spaceLine
    width: 95%
    margin: 0 auto
    padding: 5px 0px 10px 0px
    border-bottom: 1px solid grey
    
   
@media (max-device-width: 414px)
  .hamburger_toggle_menu
    top: 48px
    left: -10px
    padding: 15px
  
  .lines1, .lines2,.lines3
    width: 70px
    height: 6px

    
  .container-sections
    .tex-section
      .text-container1 
        height: 470px
        

  

/* ----------MEDIA QUERIES FOR PHONE UNDER 414 PIXELS*/

   
@media (max-device-width: 414px)
  .hamburger_toggle_menu
    top: 48px
    left: -10px
    padding: 15px
  
    .lines1, .lines2,.lines3
      width: 70px
      height: 6px   

@media (max-device-width: 375px)
  .hamburger_toggle_menu
    top: 44px
    left: -10px
    padding: 15px
    .lines1, .lines2,.lines3
      width: 50px
      height: 5px  
      margin-top: 6px 
  

/* MEDIA QUERIES FOR IPAD*/
@media only screen and(min-device-width:  768px) and (max-device-width: 1024px)
  .hamburger_toggle_menu
    position: absolute
    top: 100px
    left: 10%
    padding: 15px
    opacity: .7
    z-index: 1
    display: inline-block
    cursor: pointer

  .lines1, .lines2,.lines3
    width: 100px
    height: 10px
    background-color: $white-color
    margin: 4px
    color: $white-color
    margin-left: 10px

  .nav-links
    margin-top: 160px
    font-size: 50px
    letter-spacing: .25em
    font-family: 'popp'
    display: none
  .login-container
    top: 50px
    float:right
    display: flex
    margin-right: 0px
 
    width: 500px
    position: absolute

  button
    width: 154px
    height: 78px
    font-size: 20px

  button:nth-last-child(1)
    color: $white-color
    width: 210px
  
  .container-sections
  
    .tex-section
      
      // font-family: 'popp'

    
    .text-container1 
      background: $mainColor
      height: auto
      margin: 10px  20px  0px 20px
      font-family: 'popp'
      

    .text-container2 
      background: $mainColor
      height: 450px
      margin: -35px  20px  5px 20px
      border-radius: 5%
     
    h2 
      margin: 0px  20px  5px 30px
      font-family: 'popp'

      
    .text-container3 
      background: $mainColor
      height: 440px
      margin: -30px  20px  5px 30px
      border-radius: 5%
      overflow: hidden
      padding: 13px
      
      
    .text-container4  
      
      background: $mainColor
      height: 82vh
      margin: 30px  20px  5px 30px
      border-radius: 5%
      overflow: hidden
      padding: 13px
      
    .fa 
      font-size: 50px
    
    .title-reference
      margin: 20px  0px -20px 30px
      font-size: 30px
      text-align: left
    

/* MEDIA QUERIES FOR PHONE UNDER 320 PIXELS iphone SE*/
// 



// // @media screen 
// // and (min-device-width: 1200px) 
// // and (max-device-width: 1600px) 
// // and (-webkit-min-device-pixel-ratio: 1) {

      

   

   
   
     

  
    

