/* LOGIN CONTAINER NESTED */
.login-container
  top: 0
  right: 0
  margin: 10px 5px 0px 0px
  margin-top: 55px
  position: absolute
  // float: right
  opacity: .6 
  width: 300px
  // margin-bottom: 30px

  
/*LOGIN CONTACT & ACCESIBILITY BUTTONS*/

 /* BUTTON LOGIN NESTED */
button
  float: right
  width: 74px
  height: 48px
  font-size: 10px
  text-align: center
  letter-spacing: .30em
  justify-content: center
  font-family: 'popp'
  color: $white-color
  background-color: Transparent
  background-repeat:no-repeat
  cursor:pointer
  margin-right: 6px

button:nth-last-child(1)
  color: $white-color
  width: 110px

  // &:hover 
  //   background-color: $white-color
  //   color: $black-color

