/*FOOTER*/


.footerFeatures 
  position: relative
  width: 100%
  height: 8vh
 
  background-color: gray
  line-height: 60px
  img 
  
   text-align: center
   cursor: pointer

  ul
    list-style-type: none
    margin: auto
    display: flex 
    background-color: black
    color: white
    justify-content: space-around
    border-right: 1px solid white
    vertical-align: middle

  li
   display: inline
 
  

  a
  font-family: 'poppins'
 
  //   &:hover 
  //     background-color: white
  //     background-color: grey
